@import '../config.css';
.root {
    
}

.logo {
    width: 40px;
    height: 31px
}

.cta {
    min-height: 90vh;
    background: url('../../../../assets/images/rock/rock-large.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button {
    height: 10vh!important;
}

@media (--medium) {
    .cta {
        background: url('../../../../assets/images/rock/rock-medium.jpg');
        justify-content: flex-end;
    }
    .actionHolder {
        width: 40vw;
    }
}

@media (--large) {
    .cta {
        background: url('../../../../assets/images/rock/rock-large.jpg');
    }
}
