@import '../config.css';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    margin-top: 10vh;
    font-size: 36px;
    position: relative;
    animation-name: slideRight;
    animation-duration: 2s;
}

@media (--medium) {
    .root {
        min-height: 200vh;
    }
}