@import '../config.css';

.root {
    width: 70%;
    margin: 5vh 0;
}

.slideLeft {
    position: relative;
    animation-name: slideLeft;
    animation-duration: 1500ms;
}

.slideRight {
    position: relative;
    animation-name: slideRight;
    animation-duration: 1500ms;
}