@import '../config.css';

.root {
    background: var(--mainColor)!important;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.header {
    position: relative;
    animation-name: slideLeft;
    animation-duration: 1s;
}

.mainImage {
    width: 450px;
    height: 250px;
    position: relative;
    animation-name: slideRight;
    animation-duration: 1s;
}
