@import '../config.css';

.root {
    background: var(--mainColor)!important;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.mainImage {
    width: 450px;
    height: 250px;
}
