@import '../config.css';

.root {
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.header {
    font-size: 36px;
}

.contentHolder {
    min-height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    animation-name: slideLeft;
    animation-duration: 2s;
    transform: translateZ(0);
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
}

.mainImage {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    width: 192px;
    height: 320px;
    border: 2px solid #ccc;
    border-top: none;
    position: relative;
    animation-name: slideRight;
    animation-duration: 2s;
}

@media (--medium) {
    .contentHolder {
        flex-direction: row;
    }

}
