@import '../config.css';

.root {
    background: var(--mainColor)!important;
    min-height: 80vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.contentHolder {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.listContainer {
    width: 66^;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    animation-name: slideLeft;
    animation-duration: 1s;
}

.list {
    background: var(--mainColor)!important;
}

.listItem {
    color: #444!important;
}

.mainImage {
    width: 192px;
    height: 320px;
    border: 2px solid #ccc;
    border-top: none;
    position: relative;
    animation-name: slideRight;
    animation-duration: 1s;
}
