@import '../config.css';

.root {
    background: var(--mainColor)!important;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.contentHolder {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.listContainer {
    width: 66^;
    display: flex;
    flex-wrap: wrap;
}

.list {
    background: var(--mainColor)!important;
}

.mainImage {
    width: 192px;
    height: 320px;
    border: 2px solid #ccc;
    border-top: none;
}
