:root {
    --mainColor: #00bcd4;
    @custom-media --extraSmall (min-width: 480px);
    @custom-media --small (min-width: 768px);
    @custom-media --medium (min-width: 992px);
    @custom-media --large (min-width: 1200px);
}

@keyframes slideLeft {
    from {
        transform: translate(1000px, 0px) translateZ(0);
    }
    to {
        transform: translate(0px, 0px) translateZ(0);
    }
}

@keyframes slideRight {
    from {
        transform: translate(-1000px, 0px) translateZ(0);
    }
    to {
        transform: translate(0px, 0px) translateZ(0);
    }
}

.slideLeft {
    backface-visibility: hidden;
    perspective: 1000;
    position: relative;
    animation-name: slideLeft;
    animation-duration: 1500ms;
}

.slideRight {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    position: relative;
    animation-name: slideRight;
    animation-duration: 1500ms;
}